<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searching">Characters</ion-title>
    <ion-searchbar (ionInput)="searchCharacter($event)" [(ngModel)]="characterName" *ngIf="searching" placeholder="Character Name"></ion-searchbar>


    <ion-buttons end>
      <button ion-button icon-only (click)="searching = !searching">
        <ion-icon name="search" *ngIf="!searching"></ion-icon>
        <ion-icon name="close" *ngIf="searching"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let character of characters" (click)="itemTapped($event, item)">
      <img src="{{character.icon}}" > {{character.name}}
      <div class="item-note" item-end>
        {{character.level}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.name}}</b>
  </div>
</ion-content>