page-list {}

.list-md .item-block .item-inner {
    border: solid 0px !important;
}

.item-md {
    border-bottom: 1px solid #dedede;
}

img {
    float: left;
    width: 40px
}

.fab-md-primary{
  bottom: 1em;
  right: 1em;
  position: fixed !important;
}
