.name {
    font-size: 1.3em;
    font-weight: bold;
    color: grey;
}

img {
    width: 53px;
    float: left;
}

.scroll-content {
    padding: 0 !important;
    padding-bottom: 56px !important;
}

.header-char {
    font-size: 1.3em;
}

h1 {
    background: #009688;
    color: white;
    padding: 6px;
    font-size: medium;
    margin-bottom: 0;
}

.item-md{
    border-left: 1px solid #dedede !important;
    border-right: 1px solid #dedede !important;
}
